.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hide {
  overflow: hidden;
  height: 600px;
  width: 1000px;
  margin: 20px;
  margin-left: 460px;

}

.space {
  padding: .1px;
}

.size {
  font-size: 17px;
}

.move{
  margin-left: 700px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.big{
  height: 120px;
  width: 120px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 4px solid rgb(102, 173, 249);
  box-shadow: 0 0 12px 1px rgb(90, 190, 252);
}

.txt{
  font-size: 25px;
  font-weight: 600;
}

.logo{
  height: 80px;
  margin: 10px;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
}

.letters{
  font-size: 50px;
  display: flex;
  align-items: center;
  margin-left: 400px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

.right{
  margin-left: 750px;
}

.top{
  margin-bottom: 120px;
}

.tall{
  height: 100vh;
  width: 100vw;
}

.slide{
  margin-left: 600px;
}
